<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./static/assets/images/vvs.png" rel="icon">



  <title>Our Website</title>  

<link href="./static/main.82cfd66e.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Mashup Template</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="img-responsive site-logo" alt="" src="./static/assets/images/vs.png">
            Internship Project
          </a>
        <p>This is our first website</p>
      </div>
      <ul class="nav">
        <li><a href="./index.html" title="">Home</a></li>
        <li><a href="./works.html" title="">Works</a></li>
        <li><a href="./about.html" title="">About Us</a></li>
        <li><a href="./contact.html" title="">Contact</a></li>
        

      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="http://www.facebook.com" title="" class="fa-icon">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div class="row">
  
  
    <h1>About Us</h1>
    
    <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive site-logo" alt="" src="./static/assets/images/vikram.jpg">
    <h3>Vikram G V</h3>
    <a href="mailto:vikramjeevi28@gmail.com">vikramjeevi28@gmail.com</a>
    <p>This is Vikram G V, An enthusiastic person with highly motivated and leadership skills having Bachelor of Engineering degree in Electronics and Communication from JNN college of engineering, Shivamogga.<br>
    Eager to learn and implement new technologies. Always willing to innovate the new things which can improve the existing technology.</p>
    </div>    
    
    <div class="col-xs-12 col-md-4 section-container-spacer">
      <img class="img-responsive site-logo" alt="" src="./static/assets/images/vivek.jpg">
    <h3>Vivek H B</h3>
    <a href="mailto:vivek.hadadi@gmail.com">vivek.hadadi@gmail.com</a>
    <p>This is Vivek H B, A zealous person having Bachelor of Engineering degree in Electronics and Communication from JNN college of engineering, Shivamogga.
    Eager to learn and implement new technologies. </p>
    </div>

    <div class="col-xs-12 col-md-4 section-container-spacer">
      <img class="img-responsive site-logo" alt="" src="./static/assets/images/sumukh.jpg">
    <h3>Sumukh B G</h3>
    <a href="mailto:sumukhbpura30@gmail.com">sumukhbpura30@gmail.com</a>
    <p>This is Sumukh B G, An enthusiastic person having Bachelor of Engineering degree in Electronics and Communication from JNN college of engineering, Shivamogga.
    Eager to learn and implement new technologies. And learning to innovate new things. </p>
    </div>
    
 
</div>
    
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.85741bff.js"></script></body>

</html>